# doc string is very important or comment about code

In [1]:
def test(a ,b):
    '''this is my function for concatination or addition.'''
    return a + b

In [2]:
test(4,6)

10

In [3]:
test('Yuvraj ', 'Neupane')

'Yuvraj Neupane'

In [4]:
test(a=9, b=3)

12

In [5]:
test(b=45, a=2)

47

In [6]:
def test1(a,b,c,d,e):
    return a,b,c,d,e

In [7]:
test1(3,5,2,5,6)

(3, 5, 2, 5, 6)

# parameter must be equal

In [8]:
def test2(a,b,c,d,e):
    return a,b,c,d,e

In [9]:
test(2,5,6,3,1,4)

TypeError: test() takes 2 positional arguments but 6 were given

This is the error for parameter

 # pass multiple parameter

In [10]:
def test(*a):
    return a

In [11]:
test(3,5)

(3, 5)

In [13]:
test(45,4,5,4,54,15)

(45, 4, 5, 4, 54, 15)

In [16]:
test(54,54,54,54,[5,8,4,7,6])

(54, 54, 54, 54, [5, 8, 4, 7, 6])

# *args its just a parameter even we can use our name too

In [1]:
def test4(*args):
    return args

In [3]:
test4(32,5,6,5,6)

(32, 5, 6, 5, 6)

In [4]:
def test5(*yuvraj):
    return yuvraj

In [5]:
test5(54,5,6,'yuvraj')

(54, 5, 6, 'yuvraj')

In [10]:
def test6(*aa):
    l = []
    for i in aa:
        l.append(i)
    return l

In [11]:
test6(2,3,5,4,[23,5,6,9])

[2, 3, 5, 4, [23, 5, 6, 9]]

In [14]:
def test7(a,b,c,d, *m):
    return a,b,c,d,m

In [15]:
test7(3,4,5,6,8,8,7,9)

(3, 4, 5, 6, (8, 8, 7, 9))

here is automatically change the argument

In [16]:
def test8(*m, a, b, c, d):
    return m, a,b,c,d

In [17]:
test8(45,5,52,5,3,6,4,1,5)

TypeError: test8() missing 4 required keyword-only arguments: 'a', 'b', 'c', and 'd'

this error not assign a value for variable in function

In [18]:
def test8(*m, a, b, c, d):
    return m, a,b,c,d

In [19]:
test8(45,12,5,6,3,23,5,45, a=5, b=9, c=10, d=33)

((45, 12, 5, 6, 3, 23, 5, 45), 5, 9, 10, 33)

This is the right way to write avoide error

 # how to give key value or dictionary

In [20]:
def test9(**kwargs): #kwargs is just a anotation or parameter we can chage name 
    return kwargs

In [21]:
test9(4,4,5,6)

TypeError: test9() takes 0 positional arguments but 4 were given

Because of this error we not pass key value or dictionary argumants

In [22]:
def test9(**kwargs): 
    return kwargs

In [23]:
test9(b=5,g=6,f=9)

{'b': 5, 'g': 6, 'f': 9}

It's return dictionary key value

In [25]:
dic={'b': 5, 'g': 6, 'f': 9}

In [26]:
test9(dic)

TypeError: test9() takes 0 positional arguments but 1 was given

function is not consider dic as acceptable argument

In [29]:
def test10(*args, **kwargs): #system consider singal * tuple and double ** means dictionary
    return args, kwargs

In [30]:
test10(23,65,54,87,65,a=5,b=6, c=3)

((23, 65, 54, 87, 65), {'a': 5, 'b': 6, 'c': 3})

### * return tuple and ** return dictionary how can we get a list from

In [44]:
def list1(*l):
    l1 = []
    for i in l:
        l1.append(i)
    return l1
a=list1(11,22,33,44,55,66)
print(type(a))
print(a)

<class 'list'>
[11, 22, 33, 44, 55, 66]

### create a function return sum of all the int arguments

In [52]:
def sum1(*s):
    n = 0
    for i in s:
        if type(i) == int:
            n = n + i
    return n

In [57]:
sum1(2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,5)

37

### create a function return mutiply of all the int arguments

In [66]:
def mul(*m):
    d = 1
    for i in m:
        if type(i) == int:
            d = d * i
    return d

In [67]:
mul(2,2,2,2)

16

In [68]:
mul(22,22,22,22,22)

5153632

In [69]:
mul(3,6,9)

162

# function without name (LAMBDA)

# lambda or anonymous  or inline function

In [70]:
n = lambda a,b : a + b #this function without name

In [71]:
n(4,5)

9

In [74]:
def test11(a,b): #this function has name (test11 is a name for this function)
    return a + b
test11(4,5)

9

### multiple parameter in lambda

In [75]:
b = lambda *yuvraj : yuvraj

In [76]:
b(45,6,9,98,78,56)

(45, 6, 9, 98, 78, 56)

### comprehance operation

In [77]:
t=[5,2,6,5,5,6,6,9,5,55]
l=[]
for i in t:
    l.append(i)

In [78]:
l

[5, 2, 6, 5, 5, 6, 6, 9, 5, 55]

In [80]:
[i for i in t] # instate of writing multiple line just write a line of code

[5, 2, 6, 5, 5, 6, 6, 9, 5, 55]

In [81]:
s = 'YUVRAJ'
[i for i in s] # this is called comprehantion operation

['Y', 'U', 'V', 'R', 'A', 'J']

## squre of all the range value

In [82]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [83]:
[i+i for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [87]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [90]:
l = lambda *x : [i for i in x]
l(23,65,9,6,5,4)

[23, 65, 9, 6, 5, 4]

In [93]:
l = lambda *x : [i**3 for i in x]
l(2,5,9,6,5,4)

[8, 125, 729, 216, 125, 64]

In [94]:
test14(a=7, b='yuvraj',c=345, d='yuvr',l=[2,1,5,4,6])

((), {'a': 7, 'b': 'yuvraj', 'c': 345, 'd': 'yuvr', 'l': [2, 1, 5, 4, 6]})

## return how many string value accure in the function

In [96]:
def test14(**a):
    count = 0
    for i in a.values():
        if type(i) == str or type(i) == list:
            count += 1
    return count

In [97]:
test14(a=7, b='yuvraj',c=345, d='yuvr',l=[2,1,5,4,6])

3

In [106]:
def test14(**a):
    count = 0
    print(a)
    for i in a.values():
        if type(i) == str or type(i) == list:
            count += 1
    return count

In [107]:
test14(a=7, b='yuvraj',c=345, d='yuvr',l=[2,1,5,4,6])

{'a': 7, 'b': 'yuvraj', 'c': 345, 'd': 'yuvr', 'l': [2, 1, 5, 4, 6]}

3

In [102]:
def test14(**a):
    count = 0
    print(a)
    print('keys:',a.keys())
    print('values:',a.values())
    for i in a.values():
        if type(i) == str or type(i) == list:
            count += 1
    return count

In [103]:
test14(a=7, b='yuvraj',c=345, d='yuvr',l=[2,1,5,4,6])

{'a': 7, 'b': 'yuvraj', 'c': 345, 'd': 'yuvr', 'l': [2, 1, 5, 4, 6]}
keys: dict_keys(['a', 'b', 'c', 'd', 'l'])
values: dict_values([7, 'yuvraj', 345, 'yuvr', [2, 1, 5, 4, 6]])

3