In [1]:
l=[1,2,3,4,5, 'sidh',45.67,True]

In [ ]:
l[0]

In [ ]:
l[-1]

In [ ]:
l[2:5]

In [2]:
l[-6:0:-1]

[3, 2]

In [ ]:
len(l)

## List slicing

In [ ]:
#upper bount excluded
l[0:5]

In [5]:
#reverse the list dataset
print(l[::-1])
print(l[::1])

[True, 45.67, 'sidh', 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 'sidh', 45.67, True]

In [50]:
# reverse vs [::-1]
#reverse oprator reverse elements parmanently 
#[::-1] reverse only run time

l.reverse()
print(l[::-1])
l

[[8, 10, 5, 'yuvraj'], 'yuvraj', True, 45.67, 'sidh', 5, 4, 3]

[3, 4, 5, 'sidh', 45.67, True, 'yuvraj', [8, 10, 5, 'yuvraj']]

In [38]:
#scale conceot
l[0:8:-1]

[]

In [9]:
l[:3]

[1, 2, 3]

## adding element

In [ ]:
l+'sudh'

In [11]:
# list is alwayes list on list
l2=[8,10,5,'yuvraj']

In [12]:
l+l2

[1, 2, 3, 4, 5, 'sidh', 45.67, True, 8, 10, 5, 'yuvraj']

In [13]:
l*2

[1, 2, 3, 4, 5, 'sidh', 45.67, True, 1, 2, 3, 4, 5, 'sidh', 45.67, True]

## find values

In [15]:
60 in l

False

In [16]:
5 in l

True

In [17]:
 max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [18]:
l3=['yuvraj','naresh','ram']

In [19]:
max(l3)

'yuvraj'

In [20]:
min(l3)

'naresh'

In [21]:
len(l3)

3

## list functions

In [22]:
l

[1, 2, 3, 4, 5, 'sidh', 45.67, True]

In [27]:
#adding new elemetns
l.append('yuvraj')

In [24]:
l

[1, 2, 3, 4, 5, 'sidh', 45.67, True, 'yuvraj']

In [25]:
# adding list
l.append(l2)

In [26]:
l

[1, 2, 3, 4, 5, 'sidh', 45.67, True, 'yuvraj', [8, 10, 5, 'yuvraj']]

In [30]:
# remove the elements
l.pop(0)

2

In [29]:
l

[2, 3, 4, 5, 'sidh', 45.67, True, 'yuvraj', [8, 10, 5, 'yuvraj'], 'yuvraj']

In [31]:
l.pop([0:2])

SyntaxError: invalid syntax (<ipython-input-31-13d983467798>, line 1)

In [32]:
# it's shows very last elements
l.pop()

'yuvraj'

In [33]:
l

[3, 4, 5, 'sidh', 45.67, True, 'yuvraj', [8, 10, 5, 'yuvraj']]

In [52]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [53]:
n1=[1,2,3]
n2=[4,5,6]
n3=[7,8,9]

In [54]:
n4=[n1,n2,n3]

In [55]:
n4

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [56]:
#extract 2ed index from the list of list
n4[2]

[7, 8, 9]

In [57]:
#extract 8 from the list of list
n4[2][1]

8

## append and extend

### extend remove list of list and consider as a list only:
### List add the elements in last index 
### can't add any element without a list using extend
### but extend treat string opration as separate

In [76]:
#List add the elements in last index 
list1=[11,22,33,44,55]
list1.append('yuvraj')

In [77]:
list1

[11, 22, 33, 44, 55, 'yuvraj']

In [78]:
# can't add any element without a list
list1.extend(22)

TypeError: 'int' object is not iterable

In [79]:
# extend remove list of list and consider as a list only:
list1.extend([66,77,88])

In [80]:
list1

[11, 22, 33, 44, 55, 'yuvraj', 66, 77, 88]

In [81]:
#but extend treat string opration as separate
list1.extend('yuv')

In [82]:
list1

[11, 22, 33, 44, 55, 'yuvraj', 66, 77, 88, 'y', 'u', 'v']

[11, 22, 33, 44, 55, 'yuvraj', 66, 77, 88, 'y', 'u', 'v']

# index

In [86]:
#shows the position od a accurances from the list
print(list1)
list1.index(22)

[11, 22, 33, 44, 55, 'yuvraj', 66, 77, 88, 'y', 'u', 'v']

1

In [1]:
l=[1,2,3,4]

In [2]:
l[2]=5

In [3]:
l

[1, 2, 5, 4]

In [4]:
l[2]='yuv'

In [5]:
l

[1, 2, 'yuv', 4]

In [6]:
l[2]='neu'

In [7]:
l

[1, 2, 'neu', 4]

In [8]:
s='ineuron'

In [9]:
s[2]

'e'

In [10]:
#can't assign new value in str object
s[2]='yuv'

TypeError: 'str' object does not support item assignment