In [1]:
l=[1,2,3,4,5,'sudh',234.45]

In [3]:
for i in l:
    print(i)

1
2
3
4
5
sudh
234.45

In [11]:
for i in l:
    print(l)

[1, 2, 3, 4, 5, 'sudh', 234.45]
[1, 2, 3, 4, 5, 'sudh', 234.45]
[1, 2, 3, 4, 5, 'sudh', 234.45]
[1, 2, 3, 4, 5, 'sudh', 234.45]
[1, 2, 3, 4, 5, 'sudh', 234.45]
[1, 2, 3, 4, 5, 'sudh', 234.45]
[1, 2, 3, 4, 5, 'sudh', 234.45]

In [36]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [22]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i + str(l))

2
3
4
5
6
sudh[1, 2, 3, 4, 5, 'sudh', 234.45]
235.45

In [24]:
l=[1,2,3,4,5,'sudh',234.45]

In [30]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(str(i))

2
3
4
5
6
sudh
235.45

In [31]:
a=[22,44,55,'yuvraj',22.33]

In [35]:
for i in a:
    if type(i)==int or type(i)== float:
        print(i+5)
    elif type(i)==str:
        print(i+' Neupane')

27
49
60
yuvraj Neupane
27.33

In [38]:
#Let's separate int and str in a different list
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [43]:
l1=[]
l2=[]
l3=[]
for i in l:
    if type(i)==int:
        l1.append(i)
    elif type(i)== str:
        l2.append(i)
    elif type(i)==float:
        l3.append(i)
print(l1)
print(l2)
print(l3)

[1, 2, 3, 4, 5]
['sudh']
[234.45]

## -----------------New Day----------------

In [46]:
l=[1,2,3,4,'sudh','kumar',45.56]

In [47]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [48]:
# pass

In [49]:
for i in l:

SyntaxError: unexpected EOF while parsing (<ipython-input-49-558be609a732>, line 1)

In [50]:
for i in l:
    pass

In [53]:
st='yuvraj'
for i in st:
    print(st)
    print(i)

yuvraj
y
yuvraj
u
yuvraj
v
yuvraj
r
yuvraj
a
yuvraj
j

In [55]:
for i in l:
    print(i)
else:
    print('if for loop is going to complete itself the it will excute else')

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will excute else

In [61]:
for i in l:
    if i ==4:
        break
    print(i)
else:
    print('this will execute only if for is going to complete itself')

1
2
3

In [62]:
t=(4,5,6,7,8,'sudh')
for i in t:
    print(i)

4
5
6
7
8
sudh

In [66]:
s={4,5,6,7,7,9,7,7,7,8,'sudh'}
type(s)

set

In [67]:
for i in s:
    print(i)

4
5
6
7
8
9
sudh

In [71]:
d={'key1':'sudh','contact':'sudhanshu@ineuro.ai','position':'xyz'}

In [73]:
for i in d:
    print(i)

key1
contact
position

In [74]:
for i in d:
    print(d[i])

sudh
sudhanshu@ineuro.ai
xyz

In [75]:
d['key1']

'sudh'

In [78]:
for i in d:
    print(i,':',d[i])

key1 : sudh
contact : sudhanshu@ineuro.ai
position : xyz

In [77]:
for i in d:
    print(d[i],i)

sudh key1
sudhanshu@ineuro.ai contact
xyz position

In [80]:
a=range(9)

In [82]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [83]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [87]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [88]:
list(range(0,9,-1))

[]

In [90]:
list(range(9,0,-2))

[9, 7, 5, 3, 1]

In [91]:
list(range(9,0,-3))

[9, 6, 3]

In [92]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# pattern

In [125]:
n=4
for i in range(4):
    for j in range(0,i+1):
        print('**', end=' ')
    print('\n')

**

** **

** ** **

** ** ** **

In [126]:
n=5
for i in range(5):
    for k in range(0,i+1):
        print('sudh', end=' ')
    print('\n')

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

sudh sudh sudh sudh sudh

In [128]:
n=4
for i in range(4):
    for j in range(0,(i+1)):
        print('*', end=" ")
    print('\n')

*

* *

* * *

* * * *

In [148]:
for j in range(4):
    for i in range(4):
        print("#", end=" ")
    print()

# # # #
# # # #
# # # #
# # # #

In [153]:
for i in range(4):
    for j in range(i+1):
        print('#',end=' ')
    print()

#
# #
# # #
# # # #

In [161]:
for i in range(5):
    for j in range(5-i):
        print('#',end=' ')
    print()

# # # # #
# # # #
# # #
# #
#

In [164]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [170]:
for i in range(5):
    for j in range(5-i):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [17]:
name=str(input('enter your name:'))

for i in range(0,6):
    for j in range(6-i):
        print(' ',end='')
    for j in range(i):
        print(name, end=' ')
    print()

enter your name:gg

     gg
    gg gg
   gg gg gg
  gg gg gg gg
 gg gg gg gg gg

In [23]:
s='yuvraj'

for i in range(len(s)):
    print(i,s[i])

0 y
1 u
2 v
3 r
4 a
5 j

In [24]:
for i in range(len(s)):
    print()

SyntaxError: unexpected EOF while parsing (<ipython-input-24-e3d302925a60>, line 1)

In [1]:
s='yuvraj'

for i in range(len(s)):
    print(i,s[i])

0 y
1 u
2 v
3 r
4 a
5 j

In [2]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

5 j
4 a
3 r
2 v
1 u
0 y

In [3]:
d={'key1':'sudh','contact':'sudhanshu@ineuro.ai','position':'xyz'}
d.items()
for i in d.items():
    print(i, type(i))

('key1', 'sudh') <class 'tuple'>
('contact', 'sudhanshu@ineuro.ai') <class 'tuple'>
('position', 'xyz') <class 'tuple'>

In [4]:
for i in d.keys():
    print(i)

key1
contact
position

In [5]:
for i in d.values():
    print(i)

sudh
sudhanshu@ineuro.ai
xyz

In [6]:
l=[552,'yuvraj','rahul',35658,5225,'kala','neupane', True, False,
   2.5,36.25,'kajol',66.5]
l1=[]

for i in l:
    if type(i) ==int:
        l1.append(i)
print(l1)

l2=[]

for i in l:
    if type(i) == str:
        l2.append(i)
print(l2)

l3=[]

for i in l:
    if type(i) == bool:
        l3.append(i)
print(l3)

l4=[]

for i in l:
    if type(i)==float:
        l4.append(i)
print(l4)

[552, 35658, 5225]
['yuvraj', 'rahul', 'kala', 'neupane', 'kajol']
[True, False]
[2.5, 36.25, 66.5]

In [7]:
#return numaric values
d={1:3345345,'name':'sudh','email_id':'sudhanshu@ineuron.ai',
   234:'sfaghasf','43':'sdfsdf',234:'2345'}
d2=[]

for i in d.keys():
    if type(i)==int:
        d2.append(i)
        print(i, ':',d[i])

1 : 3345345
234 : 2345

In [8]:
num="It uses a proprietary algorithm that's designed to retrieve and order search results to provide the most relevant and dependable sources of data possible."

In [9]:
for i in set(num):
    print(i,':',num.count(i))

b : 2
f : 1
. : 1
h : 4
o : 10
' : 1
s : 12
a : 11
g : 2
p : 5
n : 5
I : 1
  : 23
d : 9
t : 13
v : 3
u : 3
l : 5
y : 1
i : 6
c : 2
e : 19
m : 2
r : 13

In [1]:
#count the values
s=('aaabbbbcccddddeee')
for i in set(s):
    print(i,':', s.count(i))

c : 3
a : 3
e : 3
b : 4
d : 4

# print with index

In [4]:
t=(3,23,45,67,2,4,5,6)

for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [5]:
s='ineuron'

for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [7]:
# reverse order:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i