In [3]:
s='ineuron'

In [4]:
type(s)

str

## Slice or extract caracter

In [7]:
s[0]

'i'

In [9]:
s[-1]

'n'

In [10]:
s[-2]

'o'

In [1]:
import numpy as np

In [2]:
name='yuvraj'

In [4]:
name[2]

'v'

In [ ]:
always remamber uppr bound

In [5]:
name[2:5]

'vra'

In [9]:
name[0:5:3]

'yr'

In [23]:
name[4:0:-1]

'arvu'

In [24]:
name[:-3]

'yuv'

In [28]:
name[5:0:-1]

'jarvu'

In [32]:
name[-4:]

'vraj'

name[::-1

In [34]:
name[::]

'yuvraj'

In [35]:
name[0:50]

'yuvraj'

## promutation combination

In [36]:
s1='ineuron'

In [37]:
s1[::-1]

'norueni'

In [40]:
# reason this is a contradiction in between positive and negetive + step
s1[-2:-7:1]

''

In [41]:
s1[-7:-2:1]

'ineur'

## -------------------------- TASK ----------------------------

### concatinaton operation

In [43]:
s='sudhanshu'

In [46]:
#can do?
#python is a strong type language
s+1

TypeError: can only concatenate str (not "int") to str

In [48]:
# we are suppose to convert into the same data language
s+'1'

'sudhanshu1'

In [51]:
s+ str(2)

'sudhanshu2'

In [53]:
len(s)

9

In [56]:
s * 2

'sudhanshusudhanshu'

In [61]:
s.count('s')

2

In [62]:
s.split('u')

['s', 'dhansh', '']

In [65]:
sw='''sw=The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the 8th
highest global brand value.[4]'''

In [64]:
sw.split(' ')

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung,',
 'stylized',
 'as',
 'SΛMSUNG)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 '8th',
 'highest',
 'global',
 'brand',
 'value.[4]']

In [68]:
sw.upper()

'SW=THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE 8TH\nHIGHEST GLOBAL BRAND VALUE.[4]'

In [71]:
sw.lower()

'sw=the samsung group[3] (or simply samsung, stylized as sλmsung) (korean: 삼성 [samsʌŋ]) is a south korean multinational manufacturing conglomerate headquartered in samsung town, seoul, south korea.[1] it comprises numerous affiliated businesses,[1] most of them united under the samsung brand, and is the largest south korean chaebol (business conglomerate). as of 2020, samsung has the 8th\nhighest global brand value.[4]'

In [76]:
s2='yuvraj neupane'

In [78]:
s2.capitalize()

'Yuvraj neupane'

In [79]:
s2.title()

'Yuvraj Neupane'

In [80]:
s3='Yuvraj neUPANE'

In [81]:
s3.swapcase()

'yUVRAJ NEupane'

In [82]:
sw.swapcase()

'SW=tHE sAMSUNG gROUP[3] (OR SIMPLY sAMSUNG, STYLIZED AS sλmsung) (kOREAN: 삼성 [SAMSɅŊ]) IS A sOUTH kOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN sAMSUNG tOWN, sEOUL, sOUTH kOREA.[1] iT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE sAMSUNG BRAND, AND IS THE LARGEST sOUTH kOREAN CHAEBOL (BUSINESS CONGLOMERATE). aS OF 2020, sAMSUNG HAS THE 8TH\nHIGHEST GLOBAL BRAND VALUE.[4]'

In [83]:
reversed(s3)

In [85]:
''.join(reversed(s3))

'ENAPUen jarvuY'

## remove space from string

In [89]:
s4='    yuvraj            '

In [90]:
s4

'    yuvraj            '

In [91]:
#whole space romove
s4.strip()

'yuvraj'

In [92]:
#right space remove
s4.rstrip()

'    yuvraj'

In [93]:
#left space remove
s4.lstrip()

'yuvraj            '

In [95]:
a=' '.join('yuvraj')

In [96]:
a

'y u v r a j'

In [97]:
a='.'.join('yuvraj')

In [98]:
a

'y.u.v.r.a.j'

In [99]:
a='5'.join('yuvraj')
a

'y5u5v5r5a5j'

In [101]:
s4.isnumeric()

False

## space tab

In [104]:
s5='yuvraj\tneupane\tineuron'

In [105]:
s5.expandtabs()

'yuvraj  neupane ineuron'

In [106]:
#task
task='this is My First Python programming class and im learNING python string and its function'
Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file 
        
        shivan@ineuron.ai
        sudhashu@ineuron.ai

'yuvraj\nneupane\nineuron'