In [3]:
s='ineuron'

In [4]:
type(s)

str

## Slice or extract caracter

In [7]:
s[0]

'i'

In [9]:
s[-1]

'n'

In [10]:
s[-2]

'o'

In [30]:
s1='this is my very first programming class'

In [31]:
s1[8]

'm'

In [32]:
s1[0:5]

'this '

In [37]:
s1[1:-20:2]

'hsi yvr i'

In [38]:
s1[1:5]

'his '

In [39]:
#jump
s1[6:30:2]

'sm eyfrtporm'

In [40]:
s='sudhanshu'

In [41]:
s[0:9:1]

'sudhanshu'

In [43]:
#reason behind 
s[0:8:-1]

''

In [44]:
# upper bound excluded 
s[8:0:-1]

'uhsnahdu'

In [45]:
s[:-3]

'sudhan'

In [46]:
#reverse all string
s[::-1]

'uhsnahdus'

In [47]:
s[-7:0:1]

''

In [48]:
s[-7:0:-1]

'du'

In [49]:
# Let see str error
s+1

TypeError: can only concatenate str (not "int") to str

In [51]:
s*2

'sudhanshusudhanshu'

##  ------------python is strong type language-------------

### string typecasting

In [52]:
s+'1'

'sudhanshu1'

In [53]:
s+str(1)

'sudhanshu1'

In [54]:
#Length os string datatype
len(s)

9

## string function

In [55]:
s.count('s')

2

In [56]:
s.split('u')

['s', 'dhansh', '']

In [58]:
sw='''The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) 
(Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing 
conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It 
comprises numerous affiliated businesses,[1] most of them united under the 
Samsung brand, and is the largest South Korean chaebol (business conglomerate).
As of 2020, Samsung has the 8th highest global brand value.[4]'''

In [59]:
sw.split()

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung,',
 'stylized',
 'as',
 'SΛMSUNG)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 '8th',
 'highest',
 'global',
 'brand',
 'value.[4]']

In [ ]:
#reassign variable

In [64]:
sw.upper()

'THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) \n(KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING \nCONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT \nCOMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE \nSAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE).\nAS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]'

In [65]:
sw.lower()

'the samsung group[3] (or simply samsung, stylized as sλmsung) \n(korean: 삼성 [samsʌŋ]) is a south korean multinational manufacturing \nconglomerate headquartered in samsung town, seoul, south korea.[1] it \ncomprises numerous affiliated businesses,[1] most of them united under the \nsamsung brand, and is the largest south korean chaebol (business conglomerate).\nas of 2020, samsung has the 8th highest global brand value.[4]'

In [66]:
sw.title()

'The Samsung Group[3] (Or Simply Samsung, Stylized As Sλmsung) \n(Korean: 삼성 [Samsʌŋ]) Is A South Korean Multinational Manufacturing \nConglomerate Headquartered In Samsung Town, Seoul, South Korea.[1] It \nComprises Numerous Affiliated Businesses,[1] Most Of Them United Under The \nSamsung Brand, And Is The Largest South Korean Chaebol (Business Conglomerate).\nAs Of 2020, Samsung Has The 8Th Highest Global Brand Value.[4]'

In [67]:
sw.capitalize()

'The samsung group[3] (or simply samsung, stylized as sλmsung) \n(korean: 삼성 [samsʌŋ]) is a south korean multinational manufacturing \nconglomerate headquartered in samsung town, seoul, south korea.[1] it \ncomprises numerous affiliated businesses,[1] most of them united under the \nsamsung brand, and is the largest south korean chaebol (business conglomerate).\nas of 2020, samsung has the 8th highest global brand value.[4]'

In [69]:
name= 'yuvraj neupane'

In [72]:
name=name.title()
name

'Yuvraj Neupane'

In [73]:
name.swapcase()

'yUVRAJ nEUPANE'

In [75]:
''.join(reversed(name))

'enapueN jarvuY'

## removing space from words before and after

In [79]:
name='     yuvraj     '

In [80]:
name.strip()

'yuvraj'

In [81]:
name.lstrip()

'yuvraj     '

In [82]:
name.rstrip()

'     yuvraj'

In [83]:
'a'.join(name)

' a a a a ayauavaraaaja a a a a '

In [104]:
b='yuvraj'
'-'.join(b)

'y-u-v-r-a-j'

In [92]:
 name.center(50,'#')

'#################     yuvraj     #################'

In [94]:
print(name.islower())
print(name.isupper())

True
False

In [96]:
'   '.join(name)

'                    y   u   v   r   a   j                    '

In [97]:
name.isdigit()

False

In [98]:
name.isnumeric()

False

In [99]:
name.isalpha()

False

In [100]:
name.isalnum()

False

In [109]:
a='sajdhfsd'
b='d5f4d'
print(a.isalnum())
print(b.isnumeric())

True
False

In [110]:
#isdigit vs isnumeric

In [8]:
s="this is My First Python programming class and i am learNING python string and its function"
a='''1 . Try to extract data from index one to index 300 with a jump of 3 \n",
    "2. Try to reverse a string without using reverse function \n",
    "3. Try to split a string after conversion of entire string in uppercase \n",
    "4. try to convert the whole string into lower case \n",
    "5 . Try to capitalize the whole string \n",
    "6 . Write a diference between isalnum() and isalpha()\n",
    "7. Try to give an example of expand tab\n",
    "8 . Give an example of strip , lstrip and rstrip \n",
    "9.  Replace a string charecter by another charector by taking your own example \n",
    "\"sudhanshu\"\n",
    "10 . Try  to give a defination of string center function with and exmple \n",
    "11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language\n",
    "12 . Python is a interpreted of compiled language give a clear ans with your understanding \n",
    "13 . Try to write a usecase of python with your understanding .\n",
    "\n'''

In [9]:
# Q1. 1 . Try to extract data from index one to index 300 with a jump of 3.
s[1:300:3]

'h   r tnrrmglsnimeNGyosi dtfco'

In [11]:
#Q2.Try to reverse a string without using reverse function \n
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [13]:
# Q3. Try to split a string after conversion of entire string in uppercase
s.upper().split(' ')

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [14]:
#Q4 try to convert the whole string into lower case
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [15]:
#Q5. Try to capitalize the whole string
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [ ]:
#Q6.Write a diference between isalnum() and isalpha()
s.isalnum()
'''if there is in satatement has alpha-numeric the out put would be False.
    if there is a function where has alpha strings output would be False'''

In [23]:
#Q7. Try to give an example of expandtab
'''This function separate alphabate with space from word'''
a='yuvraj\tneupane'
a.expandtabs(1)

'yuvraj neupane'

In [25]:
#Q8.) Give an example of strip , lstrip and rstrip
name='   yuvraj    '
print(name.strip())
print(name.rstrip())
print(name.lstrip())

yuvraj
   yuvraj
yuvraj

In [29]:
#Q9 Replace a string charecter by another charector by taking your own example "sudhanshu"
s='sudhanshu'
s.split('u')

['s', 'dhansh', '']

In [60]:
sw.upper()

'THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) \n(KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING \nCONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT \nCOMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE \nSAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE).\nAS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4]'

In [61]:
sw.lower()

'the samsung group[3] (or simply samsung, stylized as sλmsung) \n(korean: 삼성 [samsʌŋ]) is a south korean multinational manufacturing \nconglomerate headquartered in samsung town, seoul, south korea.[1] it \ncomprises numerous affiliated businesses,[1] most of them united under the \nsamsung brand, and is the largest south korean chaebol (business conglomerate).\nas of 2020, samsung has the 8th highest global brand value.[4]'

In [62]:
sw.title()

'The Samsung Group[3] (Or Simply Samsung, Stylized As Sλmsung) \n(Korean: 삼성 [Samsʌŋ]) Is A South Korean Multinational Manufacturing \nConglomerate Headquartered In Samsung Town, Seoul, South Korea.[1] It \nComprises Numerous Affiliated Businesses,[1] Most Of Them United Under The \nSamsung Brand, And Is The Largest South Korean Chaebol (Business Conglomerate).\nAs Of 2020, Samsung Has The 8Th Highest Global Brand Value.[4]'

In [114]:
 #Q10). Try  to give a defination of string center function with and exmple
name.center(25, '5')

'55555     yuvraj     5555'

In [115]:
x='\13'
x.isspace()

True

In [ ]:
# Q 11. 11 . Write your own definition of compiler and interpretor without copy paste form internet in your own language

In [118]:
len(sw.splitlines())

6