# Tuple

In [1]:
t=(4,5,6,7,'yuvraj',45.67,True)

In [2]:
type(t)

tuple

In [3]:
t[5]

45.67

In [4]:
t[::-1]

(True, 45.67, 'yuvraj', 7, 6, 5, 4)

In [9]:
t[:4]

(4, 5, 6, 7)

In [10]:
t[::2]

(4, 6, 'yuvraj', True)

In [16]:
#tuple is a immutable object
t[2]='sudh'

TypeError: 'tuple' object does not support item assignment

In [17]:
t

(4, 5, 6, 7, 'yuvraj', 45.67, True)

In [18]:
t1=(22,11,33,55)

In [19]:
t+t1

(4, 5, 6, 7, 'yuvraj', 45.67, True, 22, 11, 33, 55)

In [ ]:
'''tuple are immutable cant change indexe but without change exchanges we cna add the new tuple 
its call tuple concatenation'''

In [ ]:
#tuple has only two(2) function with respect to with tuple
'''1. count
   2. index'''

In [25]:
print(t)
t.count(5)

(4, 5, 6, 7, 'yuvraj', 45.67, True)

1

In [24]:
t.index(6)

2

In [26]:
list(t)

[4, 5, 6, 7, 'yuvraj', 45.67, True]

In [ ]:
#use of tuple in real time

# dict

In [27]:
d={}

In [28]:
type(d)

dict

In [30]:
d1={1}

In [31]:
type(d1)

set

### dict and set are same both use curly braket

In [32]:
#for dict need key value
d2={'key1':'Value', 234:'xyz','name':'sudh','no':234569}

In [34]:
type(d2)

dict

In [35]:
d2['key1']

'Value'

### in dict bevavier like index in tuple and list

In [40]:
d3={'name':'sudh', 'tech':['python','machane learning',
                           'DL','NLP',
                          'data analyst']}

In [41]:
d3['tech']

['python', 'machane learning', 'DL', 'NLP', 'data analyst']

In [43]:
'python'in d3['tech']

True

In [44]:
d4={'name':'ineuron','contact':23456,'name':'yuv'}

In [45]:
d4

{'name': 'yuv', 'contact': 23456}

'''In case of a dictionary keys are always going to be  unique
    but value can repeated'''

In [46]:
#add new vlayes
d4

{'name': 'yuv', 'contact': 23456}

In [49]:
d4['name1']='xyz'

In [50]:
d4

{'name': 'xyz', 'contact': 23456, 'name1': 'xyz'}

In [52]:
d4['k3']=d2

In [53]:
d4

{'name': 'xyz',
 'contact': 23456,
 'name1': 'xyz',
 'k3': {'key1': 'Value',
  234: 'xyz',
  'name': 'sudh',
  'no': 234569,
  'k3': {...}}}

In [55]:
#find value from dict
d4['k3']['no']

234569

In [56]:
#tuple is allow as key
d5={(1,2,3,4):'rahul'}

In [57]:
d5

{(1, 2, 3, 4): 'rahul'}

In [58]:
d5[(1,2,3,4)]

'rahul'

In [59]:
#but list is not allowed as key in dict
d6={[1,2,3]:'neupane'}

TypeError: unhashable type: 'list'

## list and int are not allowed as key in dict but tuple and str are alloew

#Functions in dict

In [60]:
#not allowed add two dict
d1+d2

TypeError: unsupported operand type(s) for +: 'set' and 'dict'

In [65]:
d3.values()

dict_values(['sudh', ['python', 'machane learning', 'DL', 'NLP', 'data analyst']])

In [67]:
d3.keys()

dict_keys(['name', 'tech'])

In [68]:
d4.items()

dict_items([('name', 'xyz'), ('contact', 23456), ('name1', 'xyz'), ('k3', {'key1': 'Value', 234: 'xyz', 'name': 'sudh', 'no': 234569, 'k3': {...}})])

# --------------SET-------------------

In [69]:
s={1,2,3,5,4,6}

In [70]:
s

{1, 2, 3, 4, 5, 6}

In [75]:
#SET CAN'T REPEAT THE VALUES 
s1={0,1,2,3,5,2,5,6,5,0,0,0}

In [76]:
s1

{0, 1, 2, 3, 5, 6}

In [86]:
#set remove duplicate and return unque values the values automatically
s3={'yuvr',2,3,5,4,6,8,9,5,6,'fdg','dfg','yuvr'}

In [87]:
s3

{2, 3, 4, 5, 6, 8, 9, 'dfg', 'fdg', 'yuvr'}

In [88]:
# can't slice the set
s3[5]

TypeError: 'set' object is not subscriptable

we covered:
list,
tuple,
dict,
set

In [ ]:
    "l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {\"key1\" :\"sudh\" , 234:[23,45,656]}]\n",
    "1 . Try to reverse a list \n",
    "2. try to access 234 out of this list \n",
    "3 . try to access 456 \n",
    "4 . Try to extract only a list collection form list l \n",
    "5 . Try to extract \"sudh\"\n",
    "6 . Try to list all the key in dict element avaible in list \n",
    "7 . Try to extract all the value element form dict available in list "

In [94]:
# "1 . Try to reverse a list \n",
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
print(l[::-1])
l.reverse()
print(l)

[{'key1': 'sudh', 234: [23, 45, 656]}, (234, 6657, 6), [345, 56, 87, 8, 98, 9], [23, 456, 67, 8, 78, 78], 7, 6, 5, 4, 3]
[{'key1': 'sudh', 234: [23, 45, 656]}, (234, 6657, 6), [345, 56, 87, 8, 98, 9], [23, 456, 67, 8, 78, 78], 7, 6, 5, 4, 3]

In [138]:
#2. try to access 234 out of this list \n"
l[1][0]

234

In [132]:
#3 . try to access 456
l[3][1]

456

In [149]:
#4 . Try to extract only a list collection form list l 
l[1:][1]

[345, 56, 87, 8, 98, 9]

In [ ]:
#5 . Try to extract "sudh"
l[0::][0]['key1']

In [180]:
#6. Try to list all the key in dict element avaible in list
list1=list(l[0::][0].keys())
print(list1)
type(list1)

['key1', 234]

list

In [182]:
#7. Try to extract all the value element form dict available in list
list2=list(l[0::][0].values())
list2
type(list2)

list